.alt {
    height: 100vh;
    max-width: 100%!important;
}

.box-ventanaG {
    border: 1px solid grey;
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 37, 44);
    
}

.box-ventanaC{
    border: 1px solid grey;
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 37, 44);    
    
}

.columna-usuarios{
    background-color:rgb(195, 204, 201);
    margin-top: 10px;
    padding: 5px;
    height: 80vh;
    padding: 5px;
}

.box-ventana-chat{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    width: 100%;
    height: 80vh;
    padding: 5px;
    background-color: #fcecdd;
    /* overflow-y: scroll; */
}

.barra-chat{
    margin-left: 0.2px;
    margin-right: 0.2px;

}

#inputChat{
    width: 100%;
    height: 5vh;
}

#btnEnviarMensaje{
    width: 100%;
    height: 5vh;
    text-align: center;
}

.containerMensaje {
    margin: 5px;
    background-color: #bbbbbba8;
    border-radius: 10px;
    padding: 5px 8px;
}
.idMensaje {
    font-weight: bold;
    font-size: 13px;
    margin: 4px 3px;
}
.Mensaje {
    margin: 0px 3px;
}
.timeMensaje {
    font-size: 11px;
    margin: 3px 3px;
}
